@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --clr-bg: #22252a;
    --clr-text: #f7f7f7;
    --clr-accent: #f17e64;

    --ff-primary: 'Staatliches';
    --ff-secondary: 'Montserrat';

    --fs-title: 5rem;
    --fs-text: 2rem;
    --fs-link: 1.3rem;
    --fs-local: 1.7rem;
}

#here {
    color: var(--clr-accent);
    font-size: var(--fs-local);
}

#here:after {
    display:none;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    top: -10px;
    background: var(--clr-bg);
    overflow-x: hidden;
}

nav {
    position: fixed;
    display: grid;
    width: 100%;
    padding: 2rem;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr;

    z-index: 2;
}

a,
a:focus,
a:visited,
a:hover {
    position: relative;
    text-decoration: none;
    color: var(--clr-text);
    outline: none;
    text-decoration: none;
}

nav .link_container {
    position: relative;
    display: grid;
    margin-right: 0rem;
    align-items: center;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr;
    grid-column: 2 / 3;
    gap: 2rem;
}

.linkNav {
    width: max-content;
    color: var(--clr-text);
    font-size: var(--fs-link);
}

.linkNav:after,
.linkNav:visited::after {
    content: '';
    position: absolute;
    background: var(--clr-accent);
    width: 80%;
    height: 2px;
    margin: 0 auto;
    inset: 1.5rem 0 0 0;
    transform: scaleX(1);
    transition: all .2s ease;
}

.linkNav:hover:after {
    transform: scaleX(0);
}

.name_company {
    position: relative;
    letter-spacing: 5px;
    color: var(--clr-text);
    font-size: var(--fs-text);
    transition: all 250ms ease;
}
.name_company::before,
.name_company::after {
    content: '';
    position: absolute;
    background: var(--clr-accent);
    height: 5px;

    transition: all 250ms ease;
    z-index: -1;
}

.name_company::before {
    inset: -3px 0 0 0;
    width: calc(100% - 5px);
    margin: 0;
}

.name_company::after {
    left: 0;
    bottom: 0;
    width: calc(100% - 5px);
    margin: 0 auto;
}

.name_company:hover::before,
.name_company:hover::after {
    width: 0;
}

.name_company:hover::after {
    left: calc(100% - 5px);
}

a.nasareq {color: #f17e64}

a.anchor {
    color: #f17e64;
    position: absolute;
    font-size: 60px;
    margin-left: 50px;
    margin-top: 150px;
    opacity: 100%;
}

.headings {
    position: relative;
    background: url("../assets/images/spaceman.jpg");
    opacity: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0;
    height: 100vh;
    margin-right: 0;

}

 h1.anchor {

     color: var(--clr-accent);
     font-size: 60px;
     margin-top: 100px;
     margin-left: 50px;

 }

 h1.howmuch {
     color: var(--clr-accent);
     font-size: 50px;
     margin-top: 300px;
     margin-left: 100px;
     opacity: 100%;
 }


main {
    width: 100%;
}

section {
    position: relative;
    height: auto;
}

section.terms {
    width: 60%;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 4%;
    padding-left: 30px;
}


section.cost {
    width: 60%;
    margin-left: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-bottom: 50px;
    padding-bottom: 100px;
    padding-left: 30px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 0px;
    color: white;
}

a.btn {
    margin-top: 20px;
    alignment: left;
    color: #f17e64;
    background-color: #e8e8f0;
}
em {
    font-size: larger;
    color: #f17e64;
}

li {
    font-family: var(--ff-secondary)
}

col {
    border: none;
}

@media (max-width: 700px) {
    nav {
        grid-template-columns: 1fr;
    }

    nav .link_container {
        grid-column: 1 / 3;
    }

    nav .home_link {
        display: none;
    }
}

@media (max-width: 500px) {
    nav .linkNav {
        font-size: calc(var(--fs-link)*0.8);
    }

    nav .link_container {
        grid-column: 1 / 3;
        gap: .5rem;
    }

    nav .linkNav:after,
    nav .linkNav:visited::after {
        inset: 1.3rem 0 0 0;
    }
}

@media screen and (max-width: 600px) {
    section.terms { width: 100%;
        margin-left: 4%;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 4%;
        padding-right: 10%;}
}}

@media screen and (max-width: 600px) {
    section.cost {
        width: 100%;
        margin-left: 0;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-bottom: 50px;
        padding-bottom: 100px;
        padding-top: 4%;
    }
}