@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --clr-bg: #22252a;
    --clr-text: #ffffff;
    --clr-accent: #f17e64;

    --ff-primary: 'Staatliches';
    --ff-secondary: 'Montserrat';

    --fs-title: 5rem;
    --fs-link: 1.3rem;
}

* {
    margin: 0;
    padding: 0;
    color: var(--clr-text);
    font-family: var(--ff-primary);
    box-sizing: border-box;
}



body {
    background: var(--clr-bg);
    overflow-x: hidden;
}

h1 {
    color: var(--clr-accent)
}
.main {position: relative;
    margin-top: 100px;
    margin-left: 100px;
    width: 70%;
    float: center;
}

nav {
    position: fixed;
    display: grid;
    width: 100%;
    margin: 2rem;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr;
}

a {
    position: relative;
    text-decoration: none;
    outline: none;
}

a,
a:focus,
a:visited {
    outline: none;
    color: var(--clr-text);
    text-decoration: none;

    transition: color 200ms ease;
}

a:after,
a:visited::after {
    content: '';
    position: absolute;
    background: var(--clr-accent);
    width: 80%;
    height: 2px;
    margin: 0 auto;
    inset: 1.5rem 0 0 0;
    transform: scaleX(1);
    transition: all .2s ease;
}

a:hover:after {
    transform: scaleX(0);
}

nav {
    z-index: 2;
}

nav .link_container {
    position: relative;
    display: grid;
    margin-right: 3rem;
    align-items: center;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr;
    grid-column: 2 / 3;
    gap: 2rem;
}

.linkNav {
    width: max-content;
    font-size: var(--fs-link);
}

