@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --clr-bg: #22252a;
    --clr-text: #f7f7f7;
    --clr-accent: #f17e64;

    --ff-primary: 'Staatliches';
    --ff-secondary: 'Montserrat';

    --fs-title: 5rem;
    --fs-text: 2rem;
    --fs-link: 1.3rem;
}


* {
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: var(--clr-bg);
    overflow-x: hidden;
}

header, 
main,
section {
    position: relative;
    width: 100%;
    height: 100%;
}

nav {
    position: fixed;
    display: grid;
    width: 100%;
    margin: 2rem;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr;

    z-index: 2;
}

a,
a:focus,
a:visited {
    position: relative;
    text-decoration: none;
    color: var(--clr-text);
    outline: none;
    text-decoration: none;
}

nav .link_container {
    position: relative;
    display: grid;
    margin-right: 3rem;
    align-items: center;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 1fr;
    grid-column: 2 / 3;
    gap: 2rem;
}

.linkNav,
.informationContainer a {
    width: max-content;
    color: var(--clr-text);
    font-size: var(--fs-link);
}

.linkNav:after,
.linkNav:visited::after,
.informationContainer a:after,
.informationContainer a:visited::after {
    content: '';
    position: absolute;
    background: var(--clr-accent);
    width: 80%;
    height: 2px;
    margin: 0 auto;
    inset: 1.5rem 0 0 0;
    transform: scaleX(1);
    transition: all .2s ease;
}

.linkNav:hover:after,
.informationContainer a:hover:after {
    transform: scaleX(0);
}


h2 {
    color: var(--clr-text);
    font-size: calc(var(--fs-title) * 0.8);
    margin-bottom: 3rem;
    letter-spacing: 2px;
}

header {
    background-image: url(../../assets/images/bg.png);
    background-size: 35%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.name {
    position: absolute;
    left: 5%;
    bottom: 2.5rem;
    letter-spacing: 5px;
    color: var(--clr-text);
    font-size: var(--fs-title);
}

.name::before {
    content: '';
    position: absolute;
    background: var(--clr-accent);
    width: 100%;
    height: 5px;
    margin: 0 auto;
    inset: 0;
    transform: scaleX(1);
    transition: all .2s ease;
    z-index: -1;
}

.name::after {
    content: '';
    position: absolute;
    background: var(--clr-accent);
    width: 100%;
    height: 5px;
    margin: 0 auto;
    left: 0;
    bottom: 0;
    transform: scaleX(1);
    transition: all .2s ease;
    z-index: -1;
}

.description,
.contact {
    color: var(--clr-text);
}

.description {
    height: auto;
    min-height: 100%;
    padding: 10%;
    background: var(--clr-accent);
}

.description p {
    font-family: var(--ff-secondary);
    font-size: var(--fs-text);
}

.contact {
    width: 100%;
    height: 100%;
}

.contact h2 {
    padding: 12.5% 0 0 10%;
}

.informationContainer {
    position: relative;
    display: grid;
    margin-top: 2%;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-left: 10%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    align-items: start;
    font-size: calc(var(--fs-link)*1.2);
}

.informationContainer h4,
.informationContainer p,
.informationContainer a,
.informationContainer i {
    font-family: var(--ff-secondary);
}

.informationContainer p {
    margin: 1rem 0;
    line-height: 1.75rem;
    font-size: calc(var(--fs-link)*0.9);
}

.services {
    width: 80%;
}

.services:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.contact_link {
    color: var(--clr-accent) !important;
    transition: all 200ms ease;
}

.contact_link:hover {
    color: var(--clr-text) !important;
}

.contact_link::after {
    display: none;
}